<h2>Hello, <%= @user.email %>, </h2>
<p>You have successfully logged into your account.</p>
<p>If this wasn't you, please reset your password immediately.</p>

<p>Thanks,</p>
<p>The <%= Rails.application.class.module_parent_name %> Team</p>